body {
    background: wheat;
    border: solid orangered;
    margin: auto;
    max-width: 45em;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin: .5em 0;
}

nav {
    display: flex;
}

nav li {
    display: inline-block;
    padding: 0;
    margin: 0;
}


nav a {
    background: wheat;
    font-size: 1.5em;
    text-decoration: none;
    outline: none;
    text-align: center;
    color: orangered;
    line-height: 2;
    padding: .5em;
}

nav a:focus, .active {
    background: orangered;
    color: wheat
}


nav a:hover {
    background: orangered;
    color: wheat
}


.header {
    background: orangered;
    color: wheat;
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em;
}

.content {
    padding: 1em .75em;
}

.content h2 {
    margin-top: 0;
}

.content a {
    text-decoration: none;
    outline: none;
    color: firebrick;
    line-height: 1.5;
}

.content hr {
    border: none;
    border-top: 3px double firebrick;
    color: firebrick;
    overflow: visible;
    text-align: center;
    height: 5px;
  }

.content hr:after {
    background: wheat;
    content: '🎥';
    padding: 0 4px;
    position: relative;
    top: -13px;
  }

.content form {
    display: grid;
    max-width: 30em;
    grid-template-columns: 10em 10em;
    grid-row-gap: .3em;
    padding: 5px;
    text-align: left;
    width: 20em;
    margin: auto 0;
    align-items: center;
}

.content form.review {
    display: grid;
    max-width: 40em;
    grid-template-columns: 5em 30em;
    grid-row-gap: .3em;
    padding: 5px;
    text-align: left;
    margin: auto 0;
    align-items: center;
}

.content form.review div input[type=submit] {
    margin-left: 1em;
}

.content td {
    border: solid orangered;
    padding: .5em;
}

.content table {
    border-collapse: collapse;
}

