{% extends "layout.html" %}
{% set active_page = "index" %}
{% block title %}etusivu{% endblock %}
{% block content %}
Leffatus on sovellus, jossa voit arvostella katsomiasi elokuvia. Tervetuloa!
{% if session.username %}
<p>Olet käyttäjä <a href="/user/{{session.id}}">{{session.username}}</a>.</p>
<hr>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
    <label for="username">Tunnus</label>
    <input type="text" id="username" name="username">
    <label for="password">Salasana</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Kirjaudu">
</form>
<hr>
Eikö sinulla ole vielä tunnusta? <a href="/signup">Rekisteröidy</a> nyt!
{% endif %}
{% endblock %}