<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
    <title>leffatus - {% block title %}{% endblock %}</title>
    <div class="header">
        <h1>leffatus</h1>
    </div>
    <nav>

        <li><a {% if active_page=="index" %} class="active" {% endif %} href="/">etusivu</a></li>
        <li><a {% if active_page=="movies" %} class="active" {% endif %} href="/movies">elokuvat</a></li>
        <li><a {% if active_page=="users" %} class="active" {% endif %} href="/users">käyttäjät</a></li>
        {% if session.is_admin %}
        <li><a {% if active_page=="admin" %} class="active" {% endif %} href="/admin">admin</a></li>
        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


    </nav>
    <div class="content">{% block content %} {% endblock %}</div>
</body>