{% extends "layout.html" %}
{% set active_page = "movies" %}
{% block title %}elokuvat{% endblock %}
{% block content %}
{% if session.username %}
Eikö elokuvaa löydy listalta? Voit lisätä sen itse!<br>
<form action="/movies" method="POST">
    <label for="movie_name">Elokuvan nimi</label>
    <input type="text" id="movie_name" name="movie_name" minlength=1 maxlength=200 required>
    <label for="movie_name">Julkaisuvuosi</label>
    <input type="number" id="movie_year" name="movie_year" min="1900" max="2099" value="2023" step="1" required>
    <label for="movie_runtime">Kesto (minuuttia)</label>
    <input type="number" id="movie_runtime " name="movie_runtime" min="1" max="2000" required>
    <input type="submit" value="Lisää elokuva">
</form>
<hr>
{% endif %}
{% if (movies|length) > 0 %}
<table>
    <tbody>
        <tr>
            <td>Elokuva</td>
            <td>Vuosi</td>
            <td>Kesto</td>
            <td>Arvosana</td>
        </tr>
        {% for movie in movies %}
        <tr>
            <td><a href="/movie/{{movie.movie_id}}">{{movie.movie_name}}</a></td>
            <td>{{movie.movie_year}}</td>
            <td style="white-space: nowrap;">{{movie.movie_runtime}} min</td>
            <td>{% if movie.avg != None %} {{(movie.avg|round(2))}} {% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
Yhtään elokuvaa ei ole vielä lisätty...
{% endif %}
{% endblock %}