{% extends "layout.html" %}
{% set active_page = "movies" %}
{% block title %}{{movie.movie_name}}{% endblock %}
{% block content %}
<h2>{{movie.movie_name}}</h2>
<h3>{{movie.movie_year}}</h3>
{% if (reviews|length) > 0 %}
<h4>{{average_score}}</h4>
{% endif %}
{% if session.username and not reviewed %}
<hr>
Et ole vielä arvostellut elokuvaa {{movie.movie_name}}. Kirjoita arvostelu nyt!
<form class="review" action="/movie/{{movie.movie_id}}" method="POST">
    <label for="review_text">Arvostelu</label>
    <textarea id="review_text" name="review_text" maxlength=600 rows=5 cols=45 required></textarea>
    <label for="review_score">Arvosana</label>
    <div><input type="radio" name="review_score" value="1" required> ★
    <input type="radio" name="review_score" value="2"> ★★
    <input type="radio" name="review_score" value="3"> ★★★
    <input type="radio" name="review_score" value="4"> ★★★★
    <input type="radio" name="review_score" value="5"> ★★★★★
    <input type="submit" value="Lisää arvostelu" /></div>
</form>
{% endif %}
<hr>
{% for review in reviews %}
"{{review.review_text}}"<br>
{% for i in range(review.review_score) %}★{% endfor %} - <a href="/user/{{review.review_user_id}}">{{review.user_username}}</a>
{{review.review_date.strftime("(%-d.%-m.%Y %-H:%-M)")}}
<hr>
{% endfor %}
{% endblock %}