{% extends "layout.html" %}
{% set active_page = "movies" %}
{% block title %}elokuvat{% endblock %}
{% block content %}
<details>
    <summary>Haku</summary>
    <form class="search" action="/movies" methods="GET" autocomplete="off">
        <label for="movie_name_q">Nimi sisältää</label>
        <input type="text" id="name_q" name="name" minlength=1 maxlength=200>
        <label>Vuosi</label>
        <div class="range">
            <input type="number" id="year_min_q" name="min_year" min="1900" max="2099" value="1900" step="1" required>
            <input type="number" id="year_max_q" name="max_year" min="1900" max="2099" value="2099" step="1" required>
        </div>
        <label>Kesto</label>
        <div class="range">
            <input type="number" id="runtime_min_q" name="min_runtime" min="1" max="2099" value="1" step="1" required>
            <input type="number" id="runtime_max_q" name="max_runtime" min="1" max="2099" value="2000" step="1"
                required>
        </div>
        <input type="submit" value="Hae elokuvia">
    </form>
</details>
{% if session.username %}
<details>
    <summary>Eikö elokuvaa löydy listalta? Voit lisätä sen itse!</summary>
    <form action="/movies" method="POST" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <label for="movie_name">Elokuvan nimi</label>
        <input type="text" id="movie_name" name="movie_name" minlength=1 maxlength=200 required>
        <label for="movie_name">Julkaisuvuosi</label>
        <input type="number" id="movie_year" name="movie_year" min="1900" max="2099" value="2023" step="1" required>
        <label for="movie_runtime">Kesto (minuuttia)</label>
        <input type="number" id="movie_runtime " name="movie_runtime" min="1" max="2000" required>
        <input type="submit" value="Lisää elokuva">
    </form>
</details>
<hr>
{% endif %}
{% if (count|int) > 0 %}
{% if (page|int)-5 > 0 %}
<a href="{{ url_for(request.endpoint, page='0', sort=sort, order=order, **query) }}">0 ... </a>
{% endif %}
{% for i in range(([0, (page|int)-5]|max), (page|int)) %}
<a href="{{ url_for(request.endpoint, page=i, sort=sort, order=order, **query) }}">{{i}}</a>
{% endfor %}
{{page}}
{% for i in range((page|int)+1, ([(count|int) + 1, (page|int)+5]|min)) %}
<a href="{{ url_for(request.endpoint, page=i, sort=sort, order=order, **query) }}">{{i}}</a>
{% endfor %}
{% if (count|int) > (page|int)+5 %}
<a href="{{ url_for(request.endpoint, page=(count|int), sort=sort, order=order, **query) }}"> ... {{(count|int)}}</a>
{% endif %}
{% endif %}

{% if (movies|length) > 0 %}
<table>
    <tbody>
        <tr class="sortbar">
            {% if order=='desc' %}{% set opposite_order = 'asc' %}{% else %}{% set opposite_order = 'desc' %}{% endif %}
            <td><a href="{{ url_for(request.endpoint, sort='name', order=opposite_order, **query) }}">Elokuva</a></td>
            <td><a href="{{ url_for(request.endpoint, sort='year', order=opposite_order, **query) }}">Vuosi</a></td>
            <td><a href="{{ url_for(request.endpoint, sort='runtime', order=opposite_order, **query) }}">Kesto</a></td>
            <td><a href="{{ url_for(request.endpoint, sort='score', order=opposite_order, **query) }}">Arvosana</a></td>
        </tr>
        {% for movie in movies %}
        <tr>
            <td><a href="/movie/{{movie.movie_id}}">{{movie.movie_name}}</a></td>
            <td>{{movie.movie_year}}</td>
            <td style="white-space: nowrap;">{{movie.movie_runtime}} min</td>
            <td>{% if movie.avg != None %} {{(movie.avg|round(2))}} {% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
Elokuvia ei löytynyt...
{% endif %}
{% endblock %}