{% extends "layout.html" %}
{% set active_page = "users" %}
{% block title %}{{user.user_username}}{% endblock %}
{% block content %}
{% if (reviews|length) > 0 %}
Käyttäjän <b>{{user.user_username}}</b> arvostelut
{% else %}
Käyttäjä <b>{{user.user_username}}</b> ei ole vielä arvostellut yhtään elokuvaa.
{% endif %}
<hr>
{% for review in reviews %}
<a href="/movie/{{review.movie_id}}">{{review.movie_name}} ({{review.movie_year}})</a> - {% for i in range(review.review_score) %}★{% endfor %} <br> 
"{{review.review_text}}" <br>
{{review.review_date.strftime("(%-d.%-m.%Y %-H:%-M)")}}
<hr>
{% endfor %}
{% endblock %}